<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamazone - Babysitting en ligne</title>
    <link rel="icon" href="{{ url_for('static', filename='images/mamazon_tiny.png') }}" type="image/png">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/amazon_yt.png') }}" class="logo-top" alt="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('home')}}">Accueil</a></li>
                <li><a href="{{ url_for('account')}}">Mon compte</a></li>
                <li><a href="{{ url_for('about')}}">À propos de nous</a></li>
            </ul>
        </nav>
        
    </header>
    <div class="filtre-bar">
            <form method="get" action="/">
                <label for="domaine">Domaine :</label>
                <select name="domaine" id="domaine">
                    <option value="">Tous</option>
                    <option value="Maisons">Maisons</option>
                    <option value="Écoles">Écoles</option>
                    <option value="Sorties">Sorties</option>
                    <option value="Anniversaires">Anniversaires</option>
                </select>
        
                <label for="genre">Genre :</label>
                <select name="genre" id="genre">
                    <option value="">Tous</option>
                    <option value="Femme">Femme</option>
                    <option value="Homme">Homme</option>
                </select>
        
                <label for="age">Trier par âge :</label>
                <select name="age" id="age">
                    <option value="">--</option>
                    <option value="asc">Croissant</option>
                    <option value="desc">Décroissant</option>
                </select>
        
                <button type="submit">Filtrer</button>
            </form>
        </div>
    <main>
        <section class="bbsiters">

            {% for person in babysitter %}
            <a href="{{ url_for('afficher', choix=person['iden'])}}" class="bbsiter-link">
                <article class="bbsiter">
                    <img src="{{ url_for('static', filename= person['pic']) }}" class="pdp" alt="{{ person['nom'] }}">
                    <div class="bbsiter-info">
                        <h2>{{person['nom']}}</h2>
                        <p class="info">{{ person['genre']}}, {{person['age']}} ans</p>
                        <p class="quali">
                            {% for i in range(3) %}{{person['qualite'][i]}}{% if i != 2 %}, {% endif %}{% endfor %}
                        </p>
                        <p class="domain">Domaine{% if person['domaine']|length > 1%}s{% endif %} :
                            {% for i in range(person['domaine']|length) %}{{person['domaine'][i]}}{% if i != person['domaine']|length-1 %}, {% endif %}{% endfor %}
                        </p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Mamazone - Tous droits réservés.</p>
    </footer>
</body>
</html>

