<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamazone - Votre boutique en ligne</title>
    <link rel="icon" href="/images/mamazon_tiny.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/amazon_yt.png') }}" class="logo-top" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Panier</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="produits">

            {% for i in range(10) %}
            <article class="produit">
                <img src="../images/f_thomas.jpg" alt="T">
                <div class="produit-info">
                    <h2>Produit 1</h2>
                    <p class="prix">Prix : 20€</p>
                    <p class="description">Un super produit de qualité.</p>
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Mamazone - Tous droits réservés.</p>
    </footer>
</body>
</html>

