<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamazone - Votre boutique en ligne</title>
    <link rel="icon" href="/images/mamazon_tiny.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='/images/amazon_yt.png') }}" class="logo-top" alt="logo">
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Produits</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Panier</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="bbsiters">

            {% for person in babysitter.values() %}
            <article class="bbsiter">
                <img src="{{ url_for('static', filename= person['pic'] ) }}" class="pdp" alt="{{ person['nom'] }}">
                <div class="bbsiter-info">
                    <h2>{{person['nom']}}</h2>
                    <p class="info">{{ person['genre']}}, {{person['age']}} ans</p>
                    <p class="quali">
                        {% for i in range(3) %}{{person['qualite'][i]}}{% if i != 2 %}, {% endif %}{% endfor %}</p>
                    <p class="domain">Domaine{% if person['domaine']|length > 1%}s{% endif %} : {% for i in range(person['domaine']|length) %}{{person['domaine'][i]}}{% if i != person['domaine']|length-1 %}, {% endif %}{% endfor %} </p>
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
    
    <footer>
        <p>&copy; 2025 Mamazone - Tous droits réservés.</p>
    </footer>
</body>
</html>

